{% extends "layouts/base.html" %}
{% block head %}
  {{ parent() }}
  <style>
  #content {
    display: flex;
    align-items: center;
    text-align: center;
  }

  #sign-in {
    height: 100%;
    width: 100%;
    text-align: center;
  }

  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    border-radius: 6px;
    border: 1px solid #eee;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px;
  }

  .form-signin .checkbox {
    font-weight: 400;
  }

  .form-signin .form-floating:focus-within {
    z-index: 2;
  }

  .form-signin input[type="email"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .lock-png {
    height: 16px;
  }
  </style>
{% endblock %}

{% block content %}
  <main class='form-signin'>
    <form method="POST" action="/admin/sign-in">
      <div class="form-floating">
        <input name="email" type="email" class="form-control {% if 'email' in form_errors|keys %}is-invalid{% endif %}" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating mt-1">
        <input name="password" type="password" class="form-control {% if 'password' in form_errors|keys %}is-invalid{% endif %}" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>

      <div class="checkbox my-3 text-start">
        <label class="w-100">
          <input type="checkbox" value="on" name="remember_me"><span class="ps-2">Remember me</span>
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-outline-primary" type="submit">Sign in</button>
      <div class="my-3"><a href="/admin/forgot-password">Forgotten password?</a></div>
      <hr>
      <div class="my-4"><a class="btn btn-outline-success" href="/admin/register">Create new account</a></div>
      <p class="mt-4 text-muted">
        <small><img src='/assets/img/lock.png' alt='lock' class="me-2 lock-png" /> 256-Bit SSL Encryption (AES-256)</small><br>
        <small>&copy; 2023 Libra PHP</small>
      </p>
    </form>
  </main>
{% endblock %}
