{% extends "layouts/base.html" %}
{% block head %}
  {{ parent() }}
  <style>
  #content {
    display: flex;
    align-items: center;
    text-align: center;
  }

  #sign-in {
    height: 100%;
    width: 100%;
    text-align: center;
  }

  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }

  .form-signin .checkbox {
    font-weight: 400;
  }

  .form-signin .form-floating:focus-within {
    z-index: 2;
  }

  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .lock-png {
    height: 16px;
  }
  </style>
{% endblock %}

{% block content %}
  <main class='form-signin'>
    <form method="POST" action="/admin/sign-in">
      <div class="form-floating">
        <input name="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>

      <div class="checkbox mb-3 text-start">
        <label class="w-100">
          <input type="checkbox" value="remember-me" name="remember_me"><span class="ps-2">Remember me</span>
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      <p class="mt-3 text-muted">
        <small><img src='/assets/img/lock.png' alt='lock' class="me-2 lock-png" /> 256-Bit SSL Encryption (AES-256)</small><br>
        <small>&copy; 2023 Libra PHP</small>
      </p>
    </form>
  </main>
{% endblock %}
