{% extends "layout/base.html" %}

{% block title %}{{parent()}} - Dashboard{% endblock %}

{% block body %}
<p>You are now signed in.</p>
<div class="mt-2">
    <button hx-get="/admin/sign-out" hx-url-push="true" hx-target="body">Sign out</button>
</div>
{% endblock %}
