{% extends "layouts/base.html" %}
{% block head %}
  {{ parent() }}
  <link rel="stylesheet" href="/assets/css/admin.css" />
{% endblock %}

{% block content %}
<main class="d-flex h-100">
    <nav class="h-100">
      {% include 'layouts/sidebar.html' %}
    </nav>
    {% block main %}
    {% endblock %}
</main>
{% endblock %}

{% block body_scripts %}
  <script src="/assets/js/admin.js"></script>
  <script src="/assets/js/feather.min.js"></script>
  <script>
    feather.replace()
  </script>
{% endblock %}
