<div id="module-header" class="contianer-fluid w-100 d-flex align-items-center">
  <div class="module-title pt-1 d-flex align-items-center">
    <i data-feather="{{ icon }}" class="me-3"></i> {{ title }}
  </div>
  <div class="flex-grow-1 d-flex justify-content-end">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">{{ parent }}</li>
        {% if mode == 'create' %}
          <li class="breadcrumb-item" aria-current="page"><a href="{{ link }}">{{ title }}</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="{{ moduleRoute(create_route) }}">Create</a></li>
        {% elseif mode == 'edit' %}
          <li class="breadcrumb-item" aria-current="page"><a href="{{ link }}">{{ title }}</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="{{ moduleRoute(edit_route, model_id) }}">{{ model_id }}</a></li>
        {% elseif mode == 'index' %}
          <li class="breadcrumb-item active" aria-current="page"><a href="{{ link }}">{{ title }}</a></li>
        {% endif %}
      </ol>
    </nav>
  </div>
</div>
<div class="actions">
  {% if create_enabled and (mode == 'edit' or mode == 'index') %}
  <a href="{{ moduleRoute(create_route) }}" class="btn btn-sm"><i class="me-1" data-feather="plus-square"></i> <span style="padding-top: 2px;">Create</span></a>
  {% endif %}
</div>
