<div class="flex-shrink-0 p-3 bg-white h-100" id="sidebar">
  <div class="mb-3">
    <h3 class="fw-semibold">{{ app.name }}</h3>
  </div>
  <div class="my-2">
    <input type="text" id="sidebar-filter" class="form-control form-control-sm" placeholder="Filter.." />
  </div>
  <ul class="list-unstyled ps-0">
    {% for module in modules|keys %}
    {% set i = i + 1 %}
    <li class="my-3">
      <button class="btn btn-toggle align-items-center rounded collapsed p-0 fw-bold" data-bs-toggle="collapse"
        data-bs-target="#sidebar-{{ i }}-collapse" aria-expanded="false">{{ module }}</button>
      <div class="collapse" id="sidebar-{{ i }}-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          {% for child in modules[module] %}
            <a href="{{ moduleRoute(child.route)}}" class="link-dark rounded"><li class="ps-3 link">{{ child.title }}</li></a>
          {% endfor %}
        </ul>
      </div>
    </li>
    {% endfor %}
</div>
