<div class="flex-shrink-0 p-3 h-100 d-none d-lg-block" id="sidebar">
  <div class="pt-2 text-center">
    <h2 class="brand">{{ app.name }}</h2>
  </div>
  <ul class="mt-4 ps-1 list-unstyled ps-0">
    {% for module in modules|keys %}
    <li class="my-3">
      <button class="btn-collapse btn btn-toggle align-items-center rounded collapsed p-0 fw-bold"
        data-bs-toggle="collapse" data-bs-target="#sidebar-{{ loop.index0 }}-collapse" aria-expanded="true">
        {{ module }}
      </button>
      <div class="collapse show" id="sidebar-{{ loop.index0 }}-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          {% for child in modules[module] %}
          <a href="{{ moduleRoute(child.route)}}" class="link-dark rounded">
            <li class="ps-3 link">{{ child.title }}</li>
          </a>
          {% endfor %}
        </ul>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
