<div id="sidebar" class="d-flex flex-column flex-shrink-0 bg-light">
  <!-- <a href="{{ findRoute('admin.index') }}" class="d-block p-3 link-light text-decoration-none" title="{{ app.name }}" -->
  <!--   data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only"> -->
  <!--   <i data-feather="circle"></i> -->
  <!--   <span class="visually-hidden">Icon-only</span> -->
  <!-- </a> -->
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item">
      <a href="{{ findRoute('admin.index') }}" class="nav-link active py-3 border-bottom" aria-current="page" title=""
        data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
        <i data-feather="home"></i>
      </a>
    </li>
    <!-- <li> -->
    <!--   <a href="{{ findRoute('admin.audit') }}" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" -->
    <!--     data-bs-original-title="Audit"> -->
    <!--     <i data-feather="check-circle"></i> -->
    <!--   </a> -->
    <!-- </li> -->
  </ul>
  <div class="dropdown border-top">
    <a href="#"
      class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle"
      id="dropdownBottom" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="{{ user.gravatar }}" alt="mdo" width="24" height="24" class="rounded-circle">
    </a>
    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownBottom">
      <li class="text-center">
        <div class="truncate px-1" style="max-width: 180px;">{{ user.name }}</div>
      </li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" href="{{ moduleRoute('profile.index') }}">Profile</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" href="{{ findRoute('auth.sign_out') }}">Sign out</a></li>
    </ul>
  </div>
</div>
