<div class="actions"></div>
<div class="mt-3 table-responsive module-table-container bg-white">
  <table class="module-table table table-sm">
    <thead>
      <tr>
        {% for col in columns %}
        <th class="px-2 align-middle" nowrap>{{ col }}</th>
        {% endfor %}
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in data %}
      <tr>
        {% for col, value in item %}
        <td class="px-2 align-middle">
          {% if edit_enabled and col == primary_key %}
          <a class="fw-bold" href="{{ moduleRoute(edit_route, item.id) }}" title="Edit">{{ value }}</a>
          {% else %}
            {{ value }}
          {% endif %}
        </td>
        {% endfor %}
        <td class="actions">
          <div class="d-flex justify-content-end align-middle">
            {% if edit_enabled %}
            <a title="Edit" href="{{ moduleRoute(edit_route, item.id) }}" class="btn"><span data-feather='edit'></span></a>
            {% endif %}
            {% if destroy_enabled %}
            <form method="POST" class="d-inline d-flex align-items-center" action="{{ moduleRoute(destroy_route, item[primary_key]) }}">
              {{ csrf()|raw }}
              <button title="Delete" onClick="return confirm('Are you sure?')" class="btn"><span data-feather='trash'></span></button>
            </form>
            {% endif %}
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
