<div class="table-responsive mt-3 module-table-container bg-white">
  <div class="actions"></div>
  <table class="module-table table table-sm">
    <thead>
      <tr>
        {% for col in columns %}
        <th class="px-2 align-middle" nowrap>{{ col }}</th>
        {% endfor %}
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in data %}
      <tr>
        {% for col in item %}
        <td class="px-2 align-middle">{{ col }}</td>
        {% endfor %}
        <td class="actions">
          <div class="d-flex justify-content-end align-middle">
            {% if edit_enabled %}
            <a title="Edit" href="{{ moduleRoute(edit_route, item.id) }}" class="btn"><span data-feather='edit'></span></a>
            {% endif %}
            {% if delete_enabled %}
            <form method="POST" class="d-inline d-flex align-items-center" action="{{ moduleRoute(delete_route, item[primary_key]) }}">
              {{ csrf()|raw }}
              <button title="Delete" class="btn"><span data-feather='trash'></span></button>
            </form>
            {% endif %}
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
