<div id="module-top" class="contianer-fluid bg-white rounded w-100 d-flex align-items-center p-1">
  <div class="d-flex align-items-center">
    <i data-feather="search" class="p-1 me-1"></i>
    <div class="input-group">
      <input id="top-search" type="search" placeholder="Search" class="form-control" />
      <button class="btn btn-outline-primary" type="button">Search</button>
    </div>
  </div>
  <div class="flex-grow-1">
  <div id="sidebar-dropdown" class="dropdown">
    <a href="#" class="float-end d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="settings"
      data-bs-toggle="dropdown" aria-expanded="false">
      <img src="{{ user.gravatar }}" alt="" width="32" height="32" class="rounded-circle me-2">
    </a>
    <ul class="dropdown-menu text-small shadow" aria-labelledby="settings">
      <li class="text-center"><small class="truncate">{{ user.name }}</small></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="{{ findRoute('auth.sign_out') }}">Sign out</a></li>
    </ul>
  </div>
  </div>
</div>
