{% extends "layouts/base.html" %}
{% block head %}
  {{ parent() }}
  <style>
  #content {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .form-forgot-password {
    width: 100%;
    max-width: 375px;
    padding: 15px;
    margin: auto;
    border-radius: 6px;
    border: 1px solid #eee;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px;
  }

  .form-forgot-password .form-floating:focus-within {
    z-index: 2;
  }
  </style>
{% endblock %}

{% block content %}
  <main class='form-forgot-password' novalidate>
    <form method="POST" action="{{ findRoute('auth.forgot_password_post') }}">
      {{ csrf()|raw }}
      <p class="mb-3">Please enter your email address. If you your account exists, a password reset link will be emailed to you.</p>
      {% if email_sent %}
        <p class="mb-3 text-success">Thanks! A password reset email has been sent.</p>
      {% endif %}
      <div class="form-floating">
        <input name="email" type="email" class="form-control {% if 'email' in form_errors|keys %}is-invalid{% endif %}" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
        {% include 'validation/feedback.html' with {'field': 'email'} %}
      </div>
      <br>
      <button class="w-100 btn btn-lg btn-outline-primary" type="submit">Forgot Password</button>
    </form>
  </main>
{% endblock %}
