{% extends "layouts/base.html" %} {% block head %} {{ parent() }}
<style>
  #content {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .form-reset-password {
    width: 100%;
    max-width: 375px;
    padding: 15px;
    margin: auto;
    border-radius: 6px;
    border: 1px solid #eee;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px;
  }

  .form-reset-password .form-floating:focus-within {
    z-index: 2;
  }
</style>
{% endblock %} {% block content %}
<main class="form-reset-password">
  <form
    method="POST"
    action="{{ findRoute('auth.reset_password_post') }}"
    novalidate
  >
    {{ csrf()|raw }}
    <p class="mb-3">Please provide a new password.</p>
    <div class="form-floating mt-1">
      <input
        name="password"
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
      />
      <label for="password">Password</label>
      <span id="password-errors"></span>
    </div>
    <div class="form-floating mt-1">
      <input
        name="password_check"
        type="password"
        class="form-control"
        id="password-check"
        placeholder="Password Again..."
      />
      <label for="password-check">Password (again)</label>
      <span id="password_check-errors"></span>
    </div>
    <br />
    <button class="w-100 btn btn-lg btn-outline-primary" type="submit">
      Reset Password
    </button>
  </form>
</main>
{% endblock %}
