{% extends "layouts/base.html" %}
{% block head %}
  {{ parent() }}
  <style>
  #content {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .two-fa-qr {
    width: 100%;
    max-width: 375px;
    padding: 15px;
    margin: auto;
    border-radius: 6px;
    border: 1px solid #eee;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px;
  }
  
  .two-fa-qr #instructions {
    text-align: left;
    width: 300px;
  }
  .two-fa-qr .keypad > .btn {
    flex: 1 1 30%;
    border: 1px solid #ccc;
    margin: 2px;
    font-size: 1.4em;
    font-family: monospace;
  }
  .two-fa-qr .keypad {
    margin-top: 10px;
    flex-wrap: wrap;
  }
  .two-fa-qr .keypad > .btn:hover {
    font-weight: bold;
  }
  </style>
{% endblock %}

{% block content %}
  <main class='two-fa-qr'>
    <h4>Two-factor Authentication</h4>
    <img src="{{ qr_url }}" alt="two factor qr code" title="QR code" />
    <form method="POST" action="{{ findRoute('auth.register_2fa_post') }}" novalidate>
      {{ csrf()|raw }}
      <p class="mb-3">Scan the QR code into Google Authenticator.</p>
      <p class="mb-3">A secret 6-digit code will be generated every minute. Please enter your 6-digit two-factor authentication code to proceed.</p>
      <div class="form-floating">
        <input id="two_fa" name="code" type="tel" minlength="6" maxlength="6" class="form-control" id="floatingInput" placeholder="Code">
        <label for="floatingInput">2FA Code</label>
        {% include 'validation/feedback.html' with {'field': 'code'} %}
      </div>
      <div class="keypad d-flex">
        <button type="button" class="btn" value="1" onClick="key(event)">1</button>
        <button type="button" class="btn" value="2" onClick="key(event)">2</button>
        <button type="button" class="btn" value="3" onClick="key(event)">3</button>
        <button type="button" class="btn" value="4" onClick="key(event)">4</button>
        <button type="button" class="btn" value="5" onClick="key(event)">5</button>
        <button type="button" class="btn" value="6" onClick="key(event)">6</button>
        <button type="button" class="btn" value="7" onClick="key(event)">7</button>
        <button type="button" class="btn" value="8" onClick="key(event)">8</button>
        <button type="button" class="btn" value="9" onClick="key(event)">9</button>
        <button type="button" class="btn" onClick="bs(event)">⌫</button>
        <button type="button" class="btn" value="0" onClick="key(event)">0</button>
        <button type="submit" class="btn">✓</button>
      </div>
    </form>
  </main>
{% endblock %}
