{% extends "layout/base.html" %}

{% block title %}{{parent()}} - Register{% endblock %}

{% block body %}
  <section id="admin-register" class="form-admin">
    <form hx-post="/admin/register" hx-boost="true" hx-target="body" hx-url-push="true">
      {{ csrf()|raw }}
      <h1 class="h3 mb-3 fw-normal">Create new account</h1>

      <div class="form-floating">
        <input name="name" type="name" class="form-control" id="name" placeholder="Your name" autocomplete="on" value="{{ name }}">
        <label for="name">Full name</label>
        {% include 'layout/components/validation.html' with { 'name': 'name' } %}
      </div>
      <div class="form-floating mt-2">
        <input name="email" type="email" class="form-control" id="email" placeholder="name@example.com" autocomplete="on">
        <label for="email">Email</label>
        {% include 'layout/components/validation.html' with { 'name': 'email' } %}
      </div>
      <div class="form-floating mt-2">
        <input name="password" type="password" class="form-control" id="password" placeholder="Password" autocomplete="off">
        <label for="password">Password</label>
        {% include 'layout/components/validation.html' with { 'name': 'password' } %}
      </div>
      <div class="form-floating mt-2">
        <input name="password_match" type="password" class="form-control" id="password-match" placeholder="Password" autocomplete="off">
        <label for="password-match">Password (agian)</label>
        {% include 'layout/components/validation.html' with { 'name': 'password_match' } %}
      </div>

      <p><a href="/admin/sign-in">Already have an account?</a></p>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
      <p class="mt-3 mb-3 text-muted text-center">
        <img class="rounded" title="Nebula" src="/assets/img/nebula.jpeg" alt="" height="17" width="17">
        <img src="/assets/img/lock.png" alt="lock" height="17" width="17"> <span class="ps-2">256-Bit SSL Encryption (AES-256)</span>
      </p>
    </form>
  </section>
{% endblock %}
