{% extends "layouts/base.html" %}
{% block head %}
  {{ parent() }}
  <style>
  #content {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .two-fa-qr {
    width: 100%;
    max-width: 375px;
    padding: 15px;
    margin: auto;
    border-radius: 6px;
    border: 1px solid #eee;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px;
  }
  </style>
{% endblock %}

{% block content %}
  <main class='two-fa-qr'>
    <h4>Two-factor Authentication</h4>
    <img src="{{ qr_url }}" alt="two factor qr code" title="QR code" />
    <div class="text-start">
        <p><u>Instructions:</u></p>
        <p>Scan the QR code into Google Authenticator.</p>
        <p>Google Authenticator will generate a unique code every few seconds.</p>
    </div>
    <form>
      <button name="continue" value="true" class="btn btn-outline-primary">Continue</button>
    </form>
  </main>
{% endblock %}
