{layout "../layout/base.latte"}

{block body}
<p>Hello, world!</p>
<div class="mt-2 d-flex flex-column" hx-boost="true" hx-target="#body">
  <a class="p-2" href="/admin/sign-in/part" hx-replace-url="/admin/sign-in">Sign in</a>
  <a class="p-2" href="/admin/register/part" hx-replace-url="/admin/register">Register</a>
{/block}
