{layout "../layout/base.latte"}

{block body}
<p>Hello, world!</p>
<div class="mt-2 d-flex flex-column" hx-boost="true" hx-target="#body">
  <a class="p-2" href="/sign-in/part">Sign in</a>
  <a class="p-2" href="/register/part">Register</a>
{/block}
