#sidebar {
  border-right: 1px solid #ddd;
}

#sidebar .link {
  padding: 12px 0;
}

.feather {
  width: 24px;
  height: 24px;
  stroke: black;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#module-content {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;``
}
