#sidebar {
  width: 220px;
  color: #fbfbfb;
  background-color: #263544;
  border-right: 1px solid #ddd;
}

#sidebar .btn-collapse {
  color: #fff;
  outline: none;
  box-shadow:none !important;
}

#sidebar a {
  color: #fefefe;
  text-decoration: none;
}

#sidebar .link {
  margin-left: 3px;
  border-left: 3px solid #4c81ad;
  line-height: 2.2em;
}

#sidebar-dropdown {
  position: absolute;
  bottom: 10px;
}

#sidebar-dropdown .dropdown-item {
  color: #222;
}

.feather {
  width: 24px;
  height: 24px;
  stroke: black;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#module-top {
  height: 60px;
  border-bottom: 5px solid #eaedf1;
}

#module-content {
  background-color: #f2f6fc;
  color: #333;
}

.breadcrumb-item {
  font-size: 0.8em;
}

.breadcrumb-item, .breadcrumb li a {
  color: #aaa;
}
#module-header > div > nav > ol > li.breadcrumb-item.active a {
  color: #555;
}

#module-top #top-search {
  width: 160px;
} 

.content-box {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
