/**
* Sidebar
*/
#sidebar {
  width: 170px;
  color: #fbfbfb;
  background: #485563;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#sidebar .brand {
  font-size: 1.6em;
}

#sidebar .btn-collapse {
  color: #ddd;
  outline: none;
  box-shadow:none !important;
  margin-bottom: 10px;
}

#sidebar a {
  color: #fff;
  text-decoration: none;
}
#sidebar .link {
  padding: 3px 0;
  margin-left: 3px;
  border-left: 3px solid rgba(117, 195, 235, 0.4);
  line-height: 2.2em;
}
#sidebar .link svg {
  stroke: #fff;
  width: 16px;
  height: 16px;
}

#sidebar .link:hover {
  font-weight: bold;
}

#sidebar #sidebar-dropdown {
  position: absolute;
  bottom: 10px;
}

#sidebar #sidebar-dropdown .dropdown-item {
  color: #222;
}
/**
* Module top
*/
#module-top {
  height: 70px;
  border-bottom: 5px solid #eaedf1;
}
#module-top #top-search {
  width: 160px;
}

#module-top a.dropdown-item svg {
  stroke: #444;
  width: 18px;
  height: 18px;
}

/**
* Module header
*/
#module-header {
  margin-bottom: 20px;
}
#module-header .breadcrumb-item {
  font-size: 0.8em;
}

#module-header .breadcrumb-item, .breadcrumb li a {
  color: #aaa;
}

#module-header > div > nav > ol > li.breadcrumb-item.active a {
  color: #555;
}

#module-header .module-title {
  color: #444;
  font-size: 2.2em;
}
#module-header svg {
  stroke: #444;
  width: 30px;
  height: 30px;
}

/**
* Module content
*/
#module-content {
  background-color: #f2f6fc;
  color: #333;
  height: calc(100% - 70px);
}

#module-content .actions svg {
  stroke: #444;
  width: 18px;
  height: 18px;
}
#module-content .module-table-container {
  padding: 10px 10px 0 10px;
  border-radius: 10px;
}
#module-content .module-table {
  font-size: 0.8em;
}
#module-content .module-table tbody tr:hover {
  background-color: #f0faff;
}
#module-content .module-form {
  padding-top: 10px;
  border-radius: 10px;
  
}
#module-content .module-form input {
  font-size: 0.9em;
  border-radius: 0; 
  border: 0;
}
#module-content .module-form input {
  border-bottom: 1px solid #eee;
}

/**
* Utility
*/
.feather {
  width: 24px;
  height: 24px;
  stroke: black;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content-box {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
}
