html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #fbfbfb;
}

.form-admin {
  width: 100%;
  height: 100%;
  max-width: 330px;
  display: flex;
  align-items: center;
  padding: 40px 0;
  margin: auto;
}

.form-admin .checkbox {
  font-weight: 400;
}

.form-admin .form-floating:focus-within {
  z-index: 2;
}

.form-admin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-admin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
