html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#content {
  height: 100%;
}

.vl-100 {
  border-left: 4px solid white;
  height: 75px;
  opacity: 0.7;
}

.bg-gradient-titanium {
  background: #283048;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
