<section id="sidebar" class="bg-dark rounded">
  <ul>
    <a href="/dashboard/part" hx-target="#content"><li>Home</li></a>
    <a href="/search/part" hx-target="#content"><li>Search</li></a>
    <a href="/playlist/part" hx-target="#content"><li>Playlist</li></a>
    <a href="/sign-out"><li>Sign out</li></a>
  </ul>
</section>

